.logo-login {
  @apply text-center 
  w-11/12
  h-full 
  sm:w-full;
}

.logo2-login {
  @apply hidden 
  lg:block 
  md:hidden
  sm:hidden
}

.form-register4 {
  @apply bg-white
	rounded-[5px] 
	p-6
	sm:w-full;
}

.btn-form-login {
  @apply w-full 
	mt-2;
}

.content-register {
  @apply flex
  justify-center 
	items-center 
	w-11/12
}

.bg-login {
  @apply bg-[url('../../assets/toto-bg-login.png')];
}
